.menuClass{
  width: 15em;
  padding: 10px;
  height: 100%;
}
.card{
  background-image: url('../../assets/images/card.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 350px;
  height:200px;
}
